<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hy.picker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application>

        <activity
            android:name="com.hy.picker.OpenCameraResultActivity"
            android:theme="@style/PickerCameraTheme"/>
        <activity
            android:name="com.hy.picker.IMGEditActivity"
            android:theme="@style/PickerEditTheme"/>

        <activity
            android:name="com.hy.picker.PictureSelectorActivity"
            android:theme="@style/PickerTheme"/>
        <activity
            android:name="com.hy.picker.PicturePreviewActivity"
            android:theme="@style/PickerTheme"/>
        <activity
            android:name="com.hy.picker.PictureEditPreviewActivity"
            android:theme="@style/PickerTheme"/>
        <activity
            android:name="com.hy.picker.PickerCrystalCategoryActivity"
            android:theme="@style/PickerTheme"/>

        <activity
            android:name="com.hy.picker.PickerCrystalActivity"
            android:theme="@style/PickerTheme"/>
        <activity
            android:name="com.hy.picker.SelectedPicturePreviewActivity"
            android:theme="@style/PickerTheme"
            />
    </application>
</manifest>
